$color-white: hsl(0, 0%, 100%);
$color-grey-light: hsl(217, 12%, 63%);
$color-grey-medium: hsl(216, 12%, 54%);
$color-blue-medium: hsl(213, 19%, 18%);
$color-blue-dark: hsl(216, 12%, 8%);

$color-orange: hsl(25, 97%, 53%);

$color-background: hsl(211, 19%, 23%);
